[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pcaPP"]
	path = pcaPP
	url = https://github.com/valentint/pcapp
[submodule "rda"]
	path = rda
	url = https://github.com/valentint/rda
[submodule "robust"]
	path = robust
	url = https://github.com/valentint/robust
[submodule "rrcov"]
	path = rrcov
	url = https://github.com/valentint/rrcov
[submodule "rrcov3way"]
	path = rrcov3way
	url = https://github.com/valentint/rrcov3way
[submodule "rrcovHD"]
	path = rrcovHD
	url = https://github.com/cran/rrcovHD
[submodule "rrcovNA"]
	path = rrcovNA
	url = https://github.com/valentint/rrcovna
[submodule "spls"]
	path = spls
	url = https://github.com/cran/spls
[submodule "tclust"]
	path = tclust
	url = https://github.com/valentint/tclust
[submodule "trimcluster"]
	path = trimcluster
	url = https://github.com/cran/trimcluster
